<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UserCreation">
  <test thread-count="5" name="Users">
    <classes>
      <class name="com.smart.qa.testcase.CreateUserPageTest_Ascena"/>
    </classes>
  </test> <!-- Users -->
    <test thread-count="5" name="Users1">
    <classes>
      <class name="com.smart.qa.testcase.CreateUserPageTest_CBT"/>
    </classes>
  </test> <!-- Users -->
     <test thread-count="5" name="Users2">
    <classes>
      <class name="com.smart.qa.testcase.CreateUserPageTest_PUMA"/>
    </classes>
  </test> <!-- Users -->
  
</suite> <!-- UserCreation -->
